<mat-toolbar color="primary">
  <span class="text-xl font-bold">Hotel Management</span>
  <button mat-icon-button class="desktop-only !text-white" (click)="navigateToHome()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="flex-1"></span>
  <ng-container *ngIf="!currentUser">
    <button mat-button class="desktop-only !text-white" (click)="openLoginDialog()">Login</button>
    <button mat-button class="desktop-only !text-white" (click)="openRegisterDialog()">Register</button>
  </ng-container>
  <ng-container *ngIf="currentUser">
    <button mat-button class="desktop-only !text-white" (click)="logout()">
      <mat-icon>logout</mat-icon>
      Logout
    </button>
    <ng-container *ngIf="currentUser.role === 'Guest'">
      <button mat-button class="desktop-only !text-white" [routerLink]="['/guest/reservation-history']">
        <mat-icon>history</mat-icon>
        Reservation History
      </button>
      <button mat-button class="desktop-only !text-white" [routerLink]="['/guest']">
        <mat-icon>search</mat-icon>
        Available Rooms
      </button>
      <button mat-button class="desktop-only !text-white" [routerLink]="['/guest/reservation-history']">
        <mat-icon>restaurant_menu</mat-icon>
        Order Food and Services
      </button>
      <button mat-button class="desktop-only !text-white" [routerLink]="['/guest/order-history']">
        <mat-icon>receipt</mat-icon>
        Order History
      </button>
    </ng-container>
    <ng-container *ngIf="currentUser.role === 'Manager' || currentUser.role === 'Receptionist'">
      <button mat-button class="desktop-only !text-white" [routerLink]="['/manage-rooms']">
        <mat-icon>manage_accounts</mat-icon>
        Manage Rooms
      </button>
      <button mat-button class="desktop-only !text-white" [routerLink]="['/receptionist/manage-bookings']">
        <mat-icon>book</mat-icon>
        Manage Bookings
      </button>
      <ng-container *ngIf="currentUser.role === 'Manager'">
        <button mat-button class="desktop-only !text-white" [routerLink]="['/manager/attendance-history']">
          <mat-icon>history</mat-icon>
          Attendance History
        </button>
      </ng-container>
      <ng-container *ngIf="currentUser.role === 'Receptionist'">
        <button mat-button class="desktop-only !text-white" (click)="openMarkAttendanceDialog()">
          <mat-icon>schedule</mat-icon>
          Mark Attendance
        </button>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="currentUser.role === 'Housekeeping'">
      <button mat-button class="desktop-only !text-white" [routerLink]="['/housekeeping']">
        <mat-icon>cleaning_services</mat-icon>
        Manage Orders
      </button>
      <button mat-button class="desktop-only !text-white" (click)="openMarkAttendanceDialog()">
        <mat-icon>schedule</mat-icon>
        Mark Attendance
      </button>
    </ng-container>
  </ng-container>
  <button mat-icon-button class="mobile-only !text-white" [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <ng-container *ngIf="!currentUser">
      <button mat-menu-item (click)="openLoginDialog()">Login</button>
      <button mat-menu-item (click)="openRegisterDialog()">Register</button>
    </ng-container>
    <ng-container *ngIf="currentUser">
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
      <ng-container *ngIf="currentUser.role === 'Guest'">
        <button mat-menu-item [routerLink]="['/guest/reservation-history']">
          <mat-icon>history</mat-icon>
          Reservation History
        </button>
        <button mat-menu-item [routerLink]="['/guest']">
          <mat-icon>search</mat-icon>
          Available Rooms
        </button>
        <button mat-menu-item [routerLink]="['/guest/reservation-history']">
          <mat-icon>restaurant_menu</mat-icon>
          Order Food and Services
        </button>
        <button mat-menu-item [routerLink]="['/guest/order-history']">
          <mat-icon>receipt</mat-icon>
          Order History
        </button>
      </ng-container>
      <ng-container *ngIf="currentUser.role === 'Manager' || currentUser.role === 'Receptionist'">
        <button mat-menu-item [routerLink]="['/manage-rooms']">
          <mat-icon>manage_accounts</mat-icon>
          Manage Rooms
        </button>
        <button mat-menu-item [routerLink]="['/receptionist/manage-bookings']">
          <mat-icon>book</mat-icon>
          Manage Bookings
        </button>
        <ng-container *ngIf="currentUser.role === 'Manager'">
          <button mat-menu-item [routerLink]="['/manager/attendance-history']">
            <mat-icon>history</mat-icon>
            Attendance History
          </button>
        </ng-container>
        <ng-container *ngIf="currentUser.role === 'Receptionist'">
          <button mat-menu-item (click)="openMarkAttendanceDialog()">
            <mat-icon>schedule</mat-icon>
            Mark Attendance
          </button>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="currentUser.role === 'Housekeeping'">
        <button mat-menu-item [routerLink]="['/housekeeping']">
          <mat-icon>cleaning_services</mat-icon>
          Manage Orders
        </button>
        <button mat-menu-item (click)="openMarkAttendanceDialog()">
          <mat-icon>schedule</mat-icon>
          Mark Attendance
        </button>
      </ng-container>
    </ng-container>
  </mat-menu>
</mat-toolbar>