.spacer {
    flex: 1 1 auto;
  }
.desktop-only {
    display: none;
  }
  
  .mobile-only {
    display: inline-flex;
  }
  
  @media (min-width: 868px) {
    .desktop-only {
      display: inline-flex;
    }
    .mobile-only {
      display: none;
    }
  }